a.buttonb {
    display: inline-block;
    width: 6em;
    height: 3.2em;
    line-height: 1.5em;
    padding: 10px 0 0 0;
    vertical-align: middle;
    font-family: sans-serif Calibri;
    font-size: 3vh;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    user-select: none;
    color: #fff;
    outline:none;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: rgb(234, 32, 40);;
}
a.buttonb:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
}